* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing:border-box ;}
img {
    display: block;}
 
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
margin: 0;}

ul, ol {
     list-style-type: none;
    margin: 0;
    padding: 0;}

h1,
h2,
h3,
h4,
h5,
h6,
p{
     margin: 0;}

a {
    text-decoration: none;}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;}
    
/*--------HEADER-------*/
.page-header {
border-bottom: 1px solid #e7e9fc;}

.header-container {
display: flex;
align-items: center;}

.header-nav {
  display: flex;  
  align-items: center;}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;}
    
    .header-logo {
        padding: 24px 0;
        margin-right: 76px;}

    .header-logo .logo-part {
        color: #2e2f42;}

    .nav-list {
display: flex;
align-items: center;
gap: 40px;}

    .nav-link{
        display: block;
        padding: 24px 0;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #2e2f42;}

    .contacts {
    font-style: normal;
    margin-left: auto;}

 .contacts-list {
display: flex;
align-items: center;
gap:  40px;}

 .contacts-link {
    display: block;
    font-size: 16px;
    padding: 24px 0;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}

 .nav-link:hover,
 .nav-link:focus,
 .contacts-link:hover,
 .contacts-link:focus {
    color: #404bbf;}
/*--------HEADER-------*/

/*--------HERO1-------*/
.hero {
    background-color: #2E2F42;
    padding-top: 188px;
     padding-bottom: 188px;}

.hero-container { 
    }

.hero-title {
    margin-bottom: 48px;
    margin-left: 316px;
    margin-right: 316px;
   
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    max-width: 496px;}

.hero-btn {
    cursor: pointer;
    border-radius: 4px;
padding: 16px 32px;
width: 169px;
height: 56px;
min-width: 169px;
    margin-left: 480px;
    border-radius: 4px;
     border: none;
        font-weight: 700;
        font-size: 16px;
         display: block;
    color: #FFF;
   background-color: #4D5AE5;}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;}
/*--------HERO1-------*/

/*--------POSITION2-------*/
.position {
padding-top: 120px;
    padding-bottom: 120px;}

.position-container {
    }

   .visually-hidden {
       position: absolute;
       width: 1px;
       height: 1px;
       margin: -1px;
       border: 0;
       padding: 0;
       white-space: nowrap;
       clip-path: inset(100%);
       clip: rect(0 0 0 0);
       overflow: hidden;}

.position-list {
    display: flex;
gap: 24px;}

.position-item {
    width: calc((100% - 72px) / 4);}

.position-subtitle-item {
    color: #2E2F42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;}

.position-item-text {
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    }
/*--------POSITION2-------*/

/*--------OUR-TEAM3-------*/
.our-team {background-color: #F4F4FD;
    padding-top: 120px;
     padding-bottom: 120px;}

.our-team-list-container {padding: 32px 0;}

.our-team-container  {}

.our-team-title { margin-bottom: 72px;
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;}

.our-team-list {display: flex;
    align-items: center;
        gap: 24px;}

.our-team-item {background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        }

.our-team-subtitle {color: #2E2F42;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;}

.our-team-text {color: #434455;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;}
/*--------OUR-TEAM3-------*/

/*--------OUR-PORTFOLIO4-------*/
.our-portfolio {
    padding: 120px 0 120px 0;}

.our-portfolio-container{
 }

    .our-portfolio-list {
        display: flex;
        align-items: center;
        column-gap: 24px;
        row-gap: 48px;
        flex-wrap: wrap;}   

.our-portfolio-item {
    width: calc((100% - 48px) / 3);}

.our-portfolio-title {
    
    margin-bottom: 72px;
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;}

.div-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;}
 
.our-portfolio-subtitle {
    color: #2E2F42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;}

.our-portfolio-text {
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;}
/*--------OUR-PORTFOLIO4-------*/


/*--------FOOTER5-------*/
.page-footer {
    background-color: #2E2F42;
    justify-content: flex-start;
    padding-top: 100px;
         padding-bottom: 100px;}

.footer-container {
     }

.footer-logo {
    margin-bottom: 16px;
    display: inline-block;}

.footer-logo .logo-part {
   color: #f4f4fd;}
    
.page-footer-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;}